.card {
    display: flex;
    border-bottom-style: inset;
    border-bottom-color: #B8B8B8;
    border-bottom-width: 1px;
    height: 60px;
}

.Location {
    font-family: 'Roboto', sans-serif;
    position: static;
    margin-left: 200px;
    display: flex;
    font-size: 24px;
    margin-top: 13px;
    font-weight: 500;
}

.homeBtn {
    border-radius: 10px;
    background-color: white;
    /* Blue background */
    border-width: 1.5px;
    color: black;
    /* White text */
    height: 37px;
    width: 55px;
    margin-top: 7px;
    margin-left: 180px;
    font-size: 16px;
    /* Set a font size */
    line-height: 10px;
    cursor: pointer;
    border-color: #CAC7C7;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    /* Mouse pointer on hover */
}

.homeBtn:hover {
    color: #fff;
    background-color: #CAC7C7;
    border-color: #CAC7C7;
}


/* Darker background on mouse-over */

.btn:hover {
    background-color: #ddd;
}

.title {
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    font-weight: bold;
    font-size: 24px;
    color: black;
    width: 74.95%;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
}

.dropbtn {
    background-color: white;
    position: absolute;
    margin-left: 602px;
    color: black;
    padding: 15px;
    font-size: 18px;
    /*   border: none; */
    border-width: 3px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: -3px;
    /*   height:40px; */
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
/*     position: relative;
    display: inline-block;
    margin-top: 6px;
    margin-left: 400px; */
    margin-left: auto; 
    margin-right: 0;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
    margin-left: -20px;
    position: absolute;
    /* margin-top: 55px; */
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: white;
}

.demoWrapper {
    position: relative;
    height: 0;
    padding-top: 200%;
}

.demoWrapper iframe {
    position: absolute;
    top: 0%;
    left: 2%;
    width: 95%;
    height: 100%;
    border: 0;
}

body {
    /* background-color:rgb(255,255,22,0.94; */
}

.devicesText {
    color: black;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.devicesBtn {
    cursor: pointer;
    height: 40px;
    outline: 0;
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #CAC7C7;
    border-color: #CAC7C7;
    border-width: 2px;
    width: 140px;
}

.devicesBtn:hover {
    color: #fff;
    background-color: #CAC7C7;
    border-color: #CAC7C7;
}
